.dark-high-contrast {
  --md-sys-color-primary: rgb(235 255 250);
  --md-sys-color-surface-tint: rgb(166 207 199);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(171 211 203);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(238 254 250);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(190 206 202);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(254 249 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(205 198 233);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 249 249);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 186 177);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(18 20 19);
  --md-sys-color-on-background: rgb(226 226 225);
  --md-sys-color-surface: rgb(18 20 19);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(65 72 70);
  --md-sys-color-on-surface-variant: rgb(245 252 249);
  --md-sys-color-outline: rgb(197 204 202);
  --md-sys-color-outline-variant: rgb(197 204 202);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(226 226 225);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(5 48 43);
  --md-sys-color-primary-fixed: rgb(198 239 231);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(171 211 203);
  --md-sys-color-on-primary-fixed-variant: rgb(0 26 23);
  --md-sys-color-secondary-fixed: rgb(218 234 230);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(190 206 202);
  --md-sys-color-on-secondary-fixed-variant: rgb(11 25 22);
  --md-sys-color-tertiary-fixed: rgb(233 227 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(205 198 233);
  --md-sys-color-on-tertiary-fixed-variant: rgb(22 19 44);
  --md-sys-color-surface-dim: rgb(18 20 19);
  --md-sys-color-surface-bright: rgb(56 58 57);
  --md-sys-color-surface-container-lowest: rgb(12 15 14);
  --md-sys-color-surface-container-low: rgb(26 28 27);
  --md-sys-color-surface-container: rgb(30 32 31);
  --md-sys-color-surface-container-high: rgb(40 42 42);
  --md-sys-color-surface-container-highest: rgb(51 53 52);
}
