.light-medium-contrast {
  --md-sys-color-primary: rgb(35 73 67);
  --md-sys-color-surface-tint: rgb(64 101 95);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(86 124 117);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(55 70 67);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(105 120 116);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(67 63 91);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(117 113 144);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(140 0 9);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(218 52 46);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(249 249 248);
  --md-sys-color-on-background: rgb(26 28 27);
  --md-sys-color-surface: rgb(249 249 248);
  --md-sys-color-on-surface: rgb(26 28 27);
  --md-sys-color-surface-variant: rgb(220 228 225);
  --md-sys-color-on-surface-variant: rgb(61 68 67);
  --md-sys-color-outline: rgb(89 97 95);
  --md-sys-color-outline-variant: rgb(117 124 122);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(47 49 48);
  --md-sys-color-inverse-on-surface: rgb(241 241 239);
  --md-sys-color-inverse-primary: rgb(166 207 199);
  --md-sys-color-primary-fixed: rgb(86 124 117);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(61 99 92);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(105 120 116);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(80 95 92);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(117 113 144);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(93 88 118);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(218 218 217);
  --md-sys-color-surface-bright: rgb(249 249 248);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(244 244 242);
  --md-sys-color-surface-container: rgb(238 238 236);
  --md-sys-color-surface-container-high: rgb(232 232 231);
  --md-sys-color-surface-container-highest: rgb(226 226 225);
}
